.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .container {
    width: fit-content;
  }
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}
